html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(26, 23, 23);
}

h2,
a,
h1 {
    transition: 0.2s;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-top: 1rem;
    padding-bottom: 0.10rem;
}

p {
    margin: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

a:hover > h1,
a:hover > p {
    transition: 0.2s;
    color: gray;
}

#heimer {
    padding: 1rem;
    width: 315px;
    height: 5rem;
    background-color: black;
    border-radius: 10px;
    margin: 0;
}

#wtf {
    padding: 1rem;
    visibility: hidden;
    /* border-radius: 10px; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
    background-color: black;
    height: 10rem;
    width: 315px;
    transform: translateY(-45%);
}

#wtf:hover,
#heimer:hover + #wtf {
    background-color: black;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}
/* a:hover + #heimer {
    height: 100%;
} */

a:hover {
    cursor: pointer;
}



/* p::selection,
h1::selection {
    color: rgb(194, 226, 11);
    background-color: black;
} */

#pfp {
    width: 5rem;
    height: 5rem;
    /* padding: 1rem; */
    border-radius: 100%;
}

#doodle {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

[center] {
    display: flex;
    justify-content: center;
}

[only-center-text] {
    text-align: center;
}

[container-width] {
    width: 20rem;
}

[container-height] {
    height: 20rem;
}

[cat] {
    border-radius: 10px;
}

button {
    border-radius: 5px;
    background-color: inherit;
    color: white;
    border: 0;
    padding: 10px;
    margin-right: 5px;
    margin-left: 5px;
    height: max-content;
    width: max-content;
    font-size: large;
    transition: 0.2s;
}

button:hover {
    cursor: pointer;
    transition: 0.2s;
    color: gray;
}

a {
    all: unset;
}

.curve {
    position: absolute;
    height: 225px;
    width: 100%;
    background-color: pink;
    z-index: -1;
    bottom: 0;
}


#contact {
    width: 102%;
    transform: translateX(-1%);
    background-color: black;
}

#spacer {
    aspect-ratio: 900/100;
    background-image: url('./wave-haikei\(5\).svg');
    transform: translateX(-1%);
    width: 102%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#spacer2 {
    aspect-ratio: 900/100;
    background-image: url('./wave-haikei\(4\).svg');
    transform: translateX(-1%);
    width: 102%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#spacerb {
    aspect-ratio: 900/100;
    background-image: url('./wave-haikei\(7\).svg');
    transform: translateX(-1%);
    width: 102%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 1000px) {
    #wtf {
        background-color: black;
        visibility: visible;
        opacity: 1;
    }
}