@import url('https://fonts.googleapis.com/css?family=Ubuntu&light=swap');

body {
    background-color: rgba(20, 20, 20, 0.9);
}

div p, div h1 {
    font-family: 'Ubuntu';
    color: rgba(255, 255, 255, 0.7);
}

div p::selection {
    color:rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 0, 0.2);
}

#menu-bar {
    display: grid;
    grid-template-rows: repeat(1fr, 4);
    height: 12rem;
    width: 13rem;
    background-color: rgba(20, 20, 20, 0.9);
    border-radius: 1rem;
    transition: 1s;
}

#menu-bar svg rect {
    fill: white;
}
#menu-bar p {
    width: 11rem;
    position: relative;
    cursor: pointer;
    display: flex;
    padding-left: 1rem;
}
#menu-bar p:hover {
    color: olive;
}
#menu-bar p:nth-child(1):hover {
    color: white;
    cursor: default;
}

#pfp img {
    position: absolute;
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    top: 0.5rem;
    right: 1rem;
}
#pfps img {
    display: none;
    position: absolute;
    height: 12rem;
    width: 12rem;
    border-radius: 100%;
    top: 0.5rem;
    right: 1rem;
}

.content {
    transform: translateX(60%);
    position: absolute;
    top: 0.5rem;
    width: 60%;
    height: 90vh;
    border-radius: 1rem;
    background-color: rgba(20, 20, 20, 0.9);
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    padding: 0;
}
.content .card {
    display: flex;
    justify-self: center;
    background-color: grey;
    border-radius: 1rem;
    padding: 1rem;
    width: 20%;
    height: 50%;
    transform: translateY(10%);
}

.align {
    display: flex;
    grid-template-rows: repeat(1fr, 2);
}
/* mobile compatibility */
@media only screen and (max-width: 600px) {
    #pfp img {
        height: 7rem;
        width: 7rem;
    }
    #pfps img {
        display: block;
    }
    .content {
        transform: translateY(31%);
        width: 28rem;
        margin-top: 3rem;
    }
}
@media only screen and (max-width: 500px) {
    .content {
        width: 26rem;
    }
}