.center {
    display: flex;
    justify-content: center;
}

#code-container {
    background-color: #1f1f1f;
    color: #e4f4ff;
    padding: 1%;
    width: fit-content;
    max-width: inherit;
    border-radius: 1mm;
    border: solid;
    border-width: 1;
    border-color: #2f2f2f;
}

#controller button {
    padding: 7mm;
    background-color: black;
    color: white;
    border-width: 1mm;
    border-color: #1f1f1f;
    border-radius: 5%;
}

h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}  

.hljs-keyword {
    color: rgb(204, 55, 204);
}

.hljs-string {
    color: #4dec4d
}

.hljs-comment {
    color: gray;
    font-style: italic;
}

.hljs-number {
    color: cadetblue
}

.function_ {
    color: rgb(253, 253, 125);
}

.class_ {
    color: rgb(44, 163, 44);
}

.inherited__ {
    font-style: italic;
}

.hljs-property {
    color: rgb(128, 128, 255);
}

.hljs-variable {
    color: rgb(78, 78, 255);
}

.hljs-literal {
    color: rgb(41, 41, 241)
}

