@font-face {
    font-family: 'Segoe';
    src: url('../Assets/Segoe.ttf');
    src: url('../Assets/Segoe.woff2') format('woff2');
}

* {
    cursor: default;
}

.center {
    display: flex;
    justify-content: center;
}

#title {
    font-family: 'Segoe UI';
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

#wrapper {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    height: max-content;
    padding-bottom: 2rem;
}

#except {
    width: 30%;
    margin: 2%;
    padding: 5px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content {
    width: 30%;
    margin: 2%;
    padding: 5px;
    border-radius: 10px;
    border-style: dotted;
    border-color: rgba(196, 196, 196, 0.4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content h3 {
    background-color: rgba(196, 196, 196, 0.4);
    color: rgb(179, 62, 62);
}

#introduction p {
    color: rgb(172, 41, 41);
}

#introduction {
    background-color: #eee;
    border-radius: 0;
}